

<div class="content">
    <h1 style="text-align: center">Predict Wine Quality</h1>

    <div class="form">
Pregnancies	Glucose	BloodPressure	SkinThickness	Insulin	BMI	DiabetesPedigreeFunction	Age	Outcome

        <form action="/predict" method="POST">
            <input type="number" name="Pregnancies" id="Pregnancies" placeholder="Pregnancies" step="0.0001">
            <input type="number" name="Glucose" id="Glucose" placeholder="Glucose" step="0.0001">
            <input type="number" name="BloodPressure" id="BloodPressure" placeholder="BloodPressure" step="0.0001">
            <input type="number" name="SkinThickness" id="SkinThickness" placeholder="SkinThickness" step="0.0001">
            <input type="number" name="Insulin" id="Insulin" placeholder="Insulin" step="0.0001">
            <input type="number" name="BMI" id="BMI" placeholder="BMI" step="0.0001">
            <input type="number" name="DiabetesPedigree" id="DiabetesPedigree" placeholder="DiabetesPedigree" step="0.0001">
            <input type="number" name="Age" id="Age" placeholder="Age" step="0.0001">


</select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>

